/* AnekLatin Font Family - All Variants */

/* Bold Variants */
@font-face {
  font-family: "Anek Latin";
  src: url("./fonts/AnekLatin-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin";
  src: url("./fonts/AnekLatin-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin";
  src: url("./fonts/AnekLatin-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Light Variants */
@font-face {
  font-family: "Anek Latin";
  src: url("./fonts/AnekLatin-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin";
  src: url("./fonts/AnekLatin-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin";
  src: url("./fonts/AnekLatin-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Regular Variants */
@font-face {
  font-family: "Anek Latin";
  src: url("./fonts/AnekLatin-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin";
  src: url("./fonts/AnekLatin-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Condensed Variants */
@font-face {
  font-family: "Anek Latin Condensed";
  src: url("./fonts/AnekLatin_Condensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Condensed";
  src: url("./fonts/AnekLatin_Condensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Condensed";
  src: url("./fonts/AnekLatin_Condensed-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Condensed";
  src: url("./fonts/AnekLatin_Condensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Condensed";
  src: url("./fonts/AnekLatin_Condensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Condensed";
  src: url("./fonts/AnekLatin_Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Condensed";
  src: url("./fonts/AnekLatin_Condensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Condensed";
  src: url("./fonts/AnekLatin_Condensed-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Expanded Variants */
@font-face {
  font-family: "Anek Latin Expanded";
  src: url("./fonts/AnekLatin_Expanded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Expanded";
  src: url("./fonts/AnekLatin_Expanded-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Expanded";
  src: url("./fonts/AnekLatin_Expanded-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Expanded";
  src: url("./fonts/AnekLatin_Expanded-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Expanded";
  src: url("./fonts/AnekLatin_Expanded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Expanded";
  src: url("./fonts/AnekLatin_Expanded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Expanded";
  src: url("./fonts/AnekLatin_Expanded-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin Expanded";
  src: url("./fonts/AnekLatin_Expanded-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* SemiCondensed Variants */
@font-face {
  font-family: "Anek Latin SemiCondensed";
  src: url("./fonts/AnekLatin_SemiCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiCondensed";
  src: url("./fonts/AnekLatin_SemiCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiCondensed";
  src: url("./fonts/AnekLatin_SemiCondensed-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiCondensed";
  src: url("./fonts/AnekLatin_SemiCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiCondensed";
  src: url("./fonts/AnekLatin_SemiCondensed-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiCondensed";
  src: url("./fonts/AnekLatin_SemiCondensed-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiCondensed";
  src: url("./fonts/AnekLatin_SemiCondensed-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiCondensed";
  src: url("./fonts/AnekLatin_SemiCondensed-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* SemiExpanded Variants */
@font-face {
  font-family: "Anek Latin SemiExpanded";
  src: url("./fonts/AnekLatin_SemiExpanded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiExpanded";
  src: url("./fonts/AnekLatin_SemiExpanded-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiExpanded";
  src: url("./fonts/AnekLatin_SemiExpanded-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiExpanded";
  src: url("./fonts/AnekLatin_SemiExpanded-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiExpanded";
  src: url("./fonts/AnekLatin_SemiExpanded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiExpanded";
  src: url("./fonts/AnekLatin_SemiExpanded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiExpanded";
  src: url("./fonts/AnekLatin_SemiExpanded-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Anek Latin SemiExpanded";
  src: url("./fonts/AnekLatin_SemiExpanded-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
