.font-anek-700 {
  font-family: "Anek Latin", sans-serif;
  font-weight: 700;
}

.font-anek-600 {
  font-family: "Anek Latin", sans-serif;
  font-weight: 600;
}

.font-anek-500 {
  font-family: "Anek Latin", sans-serif;
  font-weight: 500;
}

.font-anek-400 {
  font-family: "Anek Latin", sans-serif;
  font-weight: 400;
}

.outlined-text {
  color: #090d10;
  -webkit-text-stroke: 2px white;
}

.marquee-container {
  width: 100%;
  height: 80px;
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-left 20s linear infinite;
}

.marquee-track img {
  height: 60px;
  margin: 0 20px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
